# Server Port Configuration
PORT=5000

# MongoDB Connection String
# Use localhost or 127.0.0.1. In dockerized environments, this will map to your mongo container name.
MONGO_URI=mongodb://127.0.0.1:27017/url_shortener

# Redis Connection URL
# ioredis uses this url to connect. Default is localhost port 6379.
REDIS_URL=redis://127.0.0.1:6379

# Base URL for Short Links
# This is pre-pended to the 6-character short code to construct the final short link (e.g. http://localhost:5000/aB34e1)
BASE_URL=http://localhost:5000
